<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <%- include('nav.ejs')%> <% for( let i = 0; i < post.length; i++ ) { %>
    <p>메인 페이지</p>
      <div class="post">
      <h2><a href="/posts/<%= post[i].postId%>"><%= post[i].title %></a></h2>
      <p><%= post[i].content %></p>
      <p>작성자: <a href="/user/<%= post[i].User.userId %>"><%= post[i].User.name %></a></p>
      <p>좋아요 : <%= post[i].like %></p>
      <p>조회수 : <%= post[i].view %></p>
    </div>
    <% } %>
    <script></script>
  </body>
</html>
